jupyter<1.1.2
packaging<25.0
pytest<8.3.5
pytest-benchmark<5.1.1
pytest-cov<6.0.1
pytest-forked<1.7.0
pytest-helpers-namespace<2021.12.30
pytest-profiling<1.8.2
pytest-pycodestyle<2.5.0
pytest-pydocstyle<2.5.0
pytest-xdist>=3.2.0, <3.7.0
