autograd<=1.3
graph-scheduler>=0.2.0, <=1.0.0rc2
dill<=0.32
elfi<0.8.1
graphviz<0.18.0
grpcio<1.41.0
grpcio-tools<1.41.0
llvmlite<0.38
matplotlib<3.4.4
networkx<2.6
numpy<1.21.3
pillow<8.4.0
pint<0.18
toposort<1.8
torch>=1.8.0, <2.0.0; (platform_machine == 'AMD64' or platform_machine == 'x86_64') and platform_python_implementation == 'CPython' and implementation_name == 'cpython'
typecheck-decorator<=1.2
leabra-psyneulink<=0.3.2
rich>=10.1, <10.12
