autograd
dill
elfi
graphviz
grpcio
protobuf
llvmlite
matplotlib
networkx==1.11
numpy
pillow
toposort==1.4
torch; sys_platform != 'win32' and platform_machine == 'x86_64' and platform_python_implementation == 'CPython'
typecheck-decorator==1.2
