autograd
dill
elfi
graphviz
grpcio<1.32.0
grpcio-tools<1.32.0
llvmlite
matplotlib
networkx==1.11
numpy
pillow
toposort
torch; sys_platform != 'win32' and platform_machine == 'x86_64' and platform_python_implementation == 'CPython'
typecheck-decorator==1.2
