name: PsyNeuLink CI

on:
  push:
    branches-ignore:
      - 'dependabot/**'
    paths-ignore:
      - 'docs/**'
      - 'doc_requirements.txt'
    tags-ignore:
      - 'v**'
  pull_request:

# run only the latest instance of this workflow job for the current branch/PR
# cancel older runs
# fall back to run id if not available (run id is unique -> no cancellations)
concurrency:
  group: ci-${{ github.ref || github.run_id }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.8, 3.9]
        python-architecture: ['x64']
        extra-args: ['']
        os: [self-hosted]

    steps:
    # increased fetch-depth and tag checkout needed to get correct
    # version string from versioneer (must have history to a prior tag);
    # otherwise install fails due to circular dependency with modeci_mdf
    - name: Checkout sources
      uses: actions/checkout@v3
      with:
        fetch-depth: 200

    # fetch only master to avoid getting unneeded branches with
    # characters invalid on windows
    - name: Checkout tags
      run: git fetch --tags origin master

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        architecture: ${{ matrix.python-architecture }}

    - name: Get pip cache location
      shell: bash
      id: pip_cache
      run: |
        python -m pip install -U pip
        python -m pip --version
        echo "pip_cache_dir=$(python -m pip cache dir)" | tee -a $GITHUB_OUTPUT

    - name: Wheels cache
      uses: actions/cache@v3
      with:
        path: ${{ steps.pip_cache.outputs.pip_cache_dir }}/wheels
        key: ${{ runner.os }}-python-${{ matrix.python-version }}-${{ matrix.python-architecture }}-pip-wheels-${{ hashFiles('requirements.txt', 'dev_requirements.txt') }}-${{ github.sha }}
        restore-keys: ${{ runner.os }}-python-${{ matrix.python-version }}-${{ matrix.python-architecture }}-pip-wheels-${{ hashFiles('requirements.txt', 'dev_requirements.txt') }}

    - name: Install local, editable PNL package
      uses: ./.github/actions/install-pnl
      with:
        features: 'dev'

    - name: Lint with flake8
      shell: bash
      run: |
        pip install flake8
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --exit-zero --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

    - name: Test with pytest
      timeout-minutes: 180
      run: pytest --junit-xml=tests_out.xml --verbosity=0 -n auto ${{ matrix.extra-args }}

    - name: Upload test results
      uses: actions/upload-artifact@v3
      with:
        name: test-results-${{ matrix.os }}-${{ matrix.python-version }}-${{ matrix.python-architecture }}-${{ matrix.extra-args }}
        path: tests_out.xml
        retention-days: 5
      if: success() || failure()

    - name: Upload coveralls code coverage
      if: contains(matrix.extra-args, '--cov=psyneulink')
      shell: bash
      env:
        COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
      run: |
        if [ -n "$COVERALLS_REPO_TOKEN" ]; then
          pip install coveralls
          coveralls
        else
          echo "::warning::Not uploading to coveralls.io, token not available!"
        fi

    - name: Build dist
      run: |
        pip install setuptools wheel
        python setup.py sdist bdist_wheel

    - name: Upload dist packages
      uses: actions/upload-artifact@v3
      with:
        name: dist-${{ matrix.os }}-${{ matrix.python-version }}-${{ matrix.python-architecture }}
        path: dist/
        retention-days: 2
