name: PsyNeuLink Docs CI

on: push

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.6, 3.7, 3.8]
        python-architecture: ['x64']
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
    - name: Checkout sources
      uses: actions/checkout@v2
      with:
        fetch-depth: 10

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2.2.1
      with:
        python-version: ${{ matrix.python-version }}
        architecture: ${{ matrix.python-architecture }}

    - name: Get pip cache location
      shell: bash
      id: pip_cache
      run: |
        python -m pip install -U pip
        python -m pip --version
        echo ::set-output name=pip_cache_dir::$(python -m pip cache dir)

    - name: Wheels cache
      uses: actions/cache@v2.1.3
      with:
        path: ${{ steps.pip_cache.outputs.pip_cache_dir }}/wheels
        key: ${{ runner.os }}-python-${{ matrix.python-version }}-${{ matrix.python-architecture }}-pip-wheels-v2-${{ github.sha }}
        restore-keys: ${{ runner.os }}-python-${{ matrix.python-version }}-${{ matrix.python-architecture }}-pip-wheels-v2

    - name: MacOS dependencies
      run: HOMEBREW_NO_AUTO_UPDATE=1 brew install graphviz
      if: startsWith(runner.os, 'macOS')

    - name: Linux dependencies
      run: sudo apt-get install -y graphviz
      if: startsWith(runner.os, 'Linux')

    - name: Windows dependencies
      run: choco install --no-progress -y graphviz --version=2.38.0.20190211
      if: startsWith(runner.os, 'Windows')

    - name: Shared dependencies
      shell: bash
      run: |
        # explicitly install numpy (https://github.com/pypa/pip/issues/9239)
        python -m pip install --upgrade pip wheel $(grep numpy requirements.txt)
        pip install -e .[doc]

    - name: Windows pytorch
      shell: bash
      run: |
        pip install $(grep -o 'torch[0-9<=\.]*' requirements.txt) -f https://download.pytorch.org/whl/cpu/torch_stable.html
      if: startsWith(runner.os, 'Windows') && matrix.python-architecture != 'x86'

    - name: Cleanup old wheels
      uses: ./.github/actions/cleanup-pip-cache

    - name: Build Documentation
      run: sphinx-build -b html -aE docs/source pnl-html

    - name: Upload Documentation
      uses: actions/upload-artifact@v2.2.2
      with:
        name: Documentation-${{ matrix.os }}-${{ matrix.python-version }}-${{ matrix.python-architecture }}
        retention-days: 1
        path: pnl-html
